
span(cols)
  transistion()
  lost-column cols / 12

.pad
  clearfix()
  margin-top 10px

.col-lg
  &__12
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(12)
    +hd()
      span(12)
  &__11
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(11)
    +hd()
      span(11)
  &__10
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(10)
    +hd()
      span(10)
  &__9
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(9)
    +hd()
      span(9)
  &__8
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(8)
    +hd()
      span(8)
  &__7
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(7)
    +hd()
      span(7)
  &__6
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(6)
    +hd()
      span(6)
  &__5
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(5)
    +hd()
      span(5)
  &__4
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(4)
    +hd()
      span(4)
  &__3
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(3)
    +hd()
      span(3)
  &__2
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(2)
    +hd()
      span(2)
  &__1
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(1)
    +hd()
      span(1)


.col-md
  &__12
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(12)
    +hd()
      span(12)
  &__11
    +mobile()
      span(12)
    +tablet()
      span(11)
    +desktop()
      span(11)
    +hd()
      span(11)
  &__10
    +mobile()
      span(12)
    +tablet()
      span(10)
    +desktop()
      span(10)
    +hd()
      span(10)
  &__9
    +mobile()
      span(12)
    +tablet()
      span(9)
    +desktop()
      span(9)
    +hd()
      span(9)
  &__8
    +mobile()
      span(12)
    +tablet()
      span(8)
    +desktop()
      span(8)
    +hd()
      span(8)
  &__7
    +mobile()
      span(12)
    +tablet()
      span(7)
    +desktop()
      span(7)
    +hd()
      span(7)
  &__6
    +mobile()
      span(12)
    +tablet()
      span(6)
    +desktop()
      span(6)
    +hd()
      span(6)
  &__5
    +mobile()
      span(12)
    +tablet()
      span(5)
    +desktop()
      span(5)
    +hd()
      span(5)
  &__4
    +mobile()
      span(12)
    +tablet()
      span(4)
    +desktop()
      span(4)
    +hd()
      span(4)
  &__3
    +mobile()
      span(12)
    +tablet()
      span(3)
    +desktop()
      span(3)
    +hd()
      span(3)
  &__2
    +mobile()
      span(12)
    +tablet()
      span(2)
    +desktop()
      span(2)
    +hd()
      span(2)
  &__1
    +mobile()
      span(12)
    +tablet()
      span(1)
    +desktop()
      span(1)
    +hd()
      span(1)


.col-sm
  &__12
    +mobile()
      span(12)
    +tablet()
      span(12)
    +desktop()
      span(12)
    +hd()
      span(12)
  &__11
    +mobile()
      span(11)
    +tablet()
      span(11)
    +desktop()
      span(11)
    +hd()
      span(11)
  &__10
    +mobile()
      span(10)
    +tablet()
      span(10)
    +desktop()
      span(10)
    +hd()
      span(10)
  &__9
    +mobile()
      span(9)
    +tablet()
      span(9)
    +desktop()
      span(9)
    +hd()
      span(9)
  &__8
    +mobile()
      span(8)
    +tablet()
      span(8)
    +desktop()
      span(8)
    +hd()
      span(8)
  &__7
    +mobile()
      span(7)
    +tablet()
      span(7)
    +desktop()
      span(7)
    +hd()
      span(7)
  &__6
    +mobile()
      span(6)
    +tablet()
      span(6)
    +desktop()
      span(6)
    +hd()
      span(6)
  &__5
    +mobile()
      span(5)
    +tablet()
      span(5)
    +desktop()
      span(5)
    +hd()
      span(5)
  &__4
    +mobile()
      span(4)
    +tablet()
      span(4)
    +desktop()
      span(4)
    +hd()
      span(4)
  &__3
    +mobile()
      span(3)
    +tablet()
      span(3)
    +desktop()
      span(3)
    +hd()
      span(3)
  &__2
    +mobile()
      span(2)
    +tablet()
      span(2)
    +desktop()
      span(2)
    +hd()
      span(2)
  &__1
    +mobile()
      span(1)
    +tablet()
      span(1)
    +desktop()
      span(1)
    +hd()
      span(1)
